@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer _lang
@{
    ViewData["Title"] = "Home Page";
    var cultureList = locOptions.Value.SupportedUICultures;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="hero-section centered">
    <div data-w-id="e464d218-f801-55d1-1f50-7da00b5bfb8f" style="opacity:0" class="w-container">
        <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading">This is Smash Cats</h1>
        <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">Simple fighting game</div>
        <div data-ix="fade-in-bottom-page-loads">
            <a asp-action="Index" asp-controller="Login" class="button">sign up</a>
            <a href="#" class="hollow-button all-caps">Learn more</a>
        </div>
    </div>
</div>
<div class="section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">What kind of game is it</h2>
            <div class="section-subheading center">Smash Cats is played by two players</div>


           @* <h3>@_lang["aboutus"]</h3>
       

            <h3>about us</h3>

            <form asp-action="Index" id="cultureForm">
                <Lable>Language:</Lable>
                <select onchange="SetCulture(this.value);">
                    <option>Выберите язык</option>
                    @foreach (var item in locOptions.Value.SupportedCultures)
                    {
                        <option value="@item.Name">
                            @item.Name | @item.DisplayName
                        </option>
                    }
                </select>
            </form>*@

        </div>
        <div class="w-row">
            <div class="w-col w-col-4">
                <div data-w-id="270e8437-efa3-df11-d438-de69b23e41e9" style="opacity:0" class="white-box">
                    <img src="images/fighting_game.webp" width="Auto" height="Auto" alt="" class="grid-image" />
                    <h3>Genre</h3>
                    <p>Fighting, Arcade</p>
                </div>
            </div>
            <div class="w-col w-col-4">
                <div data-w-id="29c25774-570b-ddb2-69b5-f4ddbb194afd" style="opacity:0" class="white-box">
                    <img src="images/age-players.webp" width="210" alt="" class="grid-image" />
                    <h3>Players age</h3>
                    <p>Players over 10 years old</p>
                </div>
            </div>
            <div class="w-col w-col-4">
                <div data-w-id="49e69b8a-ef40-4d84-1f92-d2617143b8db" style="opacity:0" class="white-box">
                    <img src="images/audience_icon.png" alt="" class="grid-image" />
                    <h3>Audience</h3>
                    <p>A group of people who want to have fun together.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section accent">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered white">game feature</h2>
            <div class="section-subheading center off-white">Basic</div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-6">
                <div class="white-box transparent">
                    <img src="images/short_game.jpg" alt="" class="fullwidth-image" />
                    <h3 class="white-text">Short sessions</h3>
                    <p class="white-text">Fights that last on average 3 minutes, as well as game obstacles that kill within 5 minutes.</p>
                    <a href="#" class="hollow-button">Learn more</a>
                </div>
            </div>
            <div class="w-col w-col-6">
                <div class="white-box transparent">
                    <img src="images/inter.jpg" sizes="(max-width: 479px) 85vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 430px" srcset="images/inter-p-500.jpg 500w, images/inter.jpg 660w" alt="" class="fullwidth-image" />
                    <h3 class="white-text">Replay value</h3>
                    <p class="white-text">The game provides unique and exciting battles that motivate players to return again and again for new challenges and improved skills.</p>
                    <a href="#" class="hollow-button all-caps">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">our team</h2>
            <div class="section-subheading center">The people who created the game</div>
        </div>
        <div data-duration-in="300" data-duration-out="100" data-current="Tab 3" data-easing="ease" class="tabs-wrapper w-tabs">
            <div class="tab-menu w-tab-menu">
                <a data-w-tab="Tab 1" class="button tab w-inline-block w-tab-link">
                    <div>game designer<br /></div>
                </a>
                <a data-w-tab="Tab 2" class="button tab w-inline-block w-tab-link">
                    <div>Graphic Designer</div>
                </a>
                <a data-w-tab="Tab 3" class="button tab w-inline-block w-tab-link w--current">
                    <div>developer</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane">
                    <div>
                        <img src="images/designer.jpg" sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, (max-width: 991px) 95vw, 940px" srcset="images/designer-p-500.jpg 500w, images/designer-p-800.jpg 800w, images/designer.jpg 958w" alt="" class="fullwidth-image" />
                        <h3>@_lang["aboutus"]</h3>

                        <p>Together we developed Smash Cats. It took us 3 months to create and release the game, and during these months we learned a lot from our mistakes, and also realized that if we don’t lose faith and go to the end, we can achieve any goals we set.</p>
                        <form asp-action="Index" id="cultureForm">
                            <lable>Language:</lable>
                            <select onchange="SetCulture(this.value);">
                                <option selected value="">Выберите язык</option>
                                @foreach (var item in locOptions.Value.SupportedCultures)
                                {
                                    <option value="@item.Name">
                                        @item.Name | @item.DisplayName
                                    </option>

                                }
                            </select>

                        </form>
                    </div>
                </div>
                
                <div data-w-tab="Tab 2" class="w-tab-pane">
                    <div>
                        <img src="images/graphic.jpg" sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, (max-width: 991px) 95vw, 940px" srcset="images/graphic-p-500.jpg 500w, images/graphic-p-800.jpg 800w, images/graphic-p-1080.jpg 1080w, images/graphic.jpg 1280w" alt="" class="fullwidth-image" />
                        <h2>@_lang["aboutus"]</h2>
                        
                        <p>Together we developed Smash Cats. It took us 3 months to create and release the game, and during these months we learned a lot from our mistakes, and also realized that if we don’t lose faith and go to the end, we can achieve any goals we set.</p>
                        <form asp-action="Index" id="cultureForm">
                            <lable>Language:</lable>
                            <select onchange="SetCulture(this.value);">
                                <option selected value="">Выберите язык</option>
                                @foreach (var item in locOptions.Value.SupportedCultures)
                                {
                                    <option value="@item.Name">
                                        @item.Name | @item.DisplayName
                                    </option>

                                }
                            </select>

                        </form>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane w--tab-active">
                    <div>
                        <img src="images/developer.jpg" sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, (max-width: 991px) 95vw, 940px" srcset="images/developer-p-500.jpg 500w, images/developer-p-800.jpg 800w, images/developer-p-1080.jpg 1080w, images/developer.jpg 1203w" alt="" class="fullwidth-image" />
                        <h2>@_lang["aboutus"]</h2>
                        <p>Together we developed Smash Cats. It took us 3 months to create and release the game, and during these months we learned a lot from our mistakes, and also realized that if we don’t lose faith and go to the end, we can achieve any goals we set.</p>
                        <form asp-action="Index" id="cultureForm">
                            <lable>Language:</lable>
                            <select onchange="SetCulture(this.value);">
                                <option selected value="">Выберите язык</option>
                                @foreach (var item in locOptions.Value.SupportedCultures)
                                {
                                    <option value="@item.Name">
                                        @item.Name | @item.DisplayName
                                    </option>

                                }
                            </select>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function SetCulture(selectValue) {
            var culture = "/?culture=" + selectValue + "&cultureIU=" + selectValue;

            document.getElementById("cultureForm").action = culture;
            document.getElementById("cultureForm").submit();
        }
    </script>

}
